<div class="meme">
  <div class="container">
    <div class="meme__content">
      <img class="meme__img" src="{{meme.image}}" alt="">
      <h6 class="meme__title">{{meme.title}}</h6>
    </div>
  </div>
</div>